* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  gap: 4rem;
  background-color: #151515;
  position: relative;
}

h1 {
  font-size: 6rem;
}

.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
  "MORF" 15,
  "SHLN" 50;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(6, 50px);
  gap: 5px;
}

#notification {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
}

.player1 {
  background-color: red;
}

.player2 {
  background-color: yellow;
}

.highlight {
  outline: 2px solid blue;
}

.winner {
  border: 5px solid rgb(0, 255, 0);  /* Or any other style to highlight the winning tokens */
}

#message {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
